#traffic>li{
	display: block;
}
#traffic span{
	display: inline-block;
	height: 50px;
	width: 50px;
	background-color: grey;
	margin: 5px;
	border-radius: 50%;
}
#traffic.stop li:nth-child(1) span{
	background-color:#a00;
}
#traffic.wait li:nth-child(2) span{
	background-color: #aa0;
}
#traffic.pass li:nth-child(3) span{
	background-color: #0a0;
}